<footer class="footer">
  <div style="text-align: center;">
    &copy; {{ site.time | date: "%Y" }} identity.attacks.info
  </div>
</footer>

<style>
  html, body {
    min-height: 100%; /* Set a minimum height for the HTML and body */
  }

  .footer {
    position: fixed; /* Fix the footer to the bottom */
    bottom: 0; /* Set the bottom position to 0 */
    left: 0; /* Set the left position to 0 (optional) */
    width: 100%; /* Set the width to 100% */
    text-align: center; /* Center the content (optional) */
    background-color: white; /* Optional: Add a background color for visibility */
    padding: 10px; /* Optional: Add padding for spacing */
  }
</style>
